<div class="contents row">
  <%= form_tag "編集", "/tweets/#{tweet.id}" method: :patch %>
    <h3>
      編集する
    </h3>
    <input placeholder="Image Url" type="text" name="image" value="#{tweet.id}" autofoucus="true"></input>
    